.img-1{
  height: 100vh;
  width: 100vw;
  margin: 0%;
  text-align: center;
  background: url('photo.webp');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow:hidden;
}
.e-m{
  display: flex;
  flex-direction: column;
  text-align: left;
}
#email-error{
  text-align: left;
  color: #FF0303;
  padding-left: 30px;
}
#email-error-1{
  text-align: left;
  color: #FF0303;
  padding-left: 30px;
}
body{   
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 0%;
  margin-right: 0%;
}
.email-in{
  background-color: #FFFFFF;
    width: 80%;
    border-radius: 5px;
    height: 10%;
    height: 32px;
    margin-left: 30px;
}
.password-in{
  background-color: #FFFFFF;
    width: 80%;
    border-radius: 5px;
    height: 10%;
    margin-left: 30px;
}
.email{
  color: black;
  margin-right: 170px;
}
.password{
  color: black;
  margin-right: 200px;
}
.log{
  color: black;
}
.login{
  height: 45%;
  width: 25%;
  margin-top: 50px;
  padding-top: 10px;
  background-color: #FFFFFF;
  border-radius: 30px;
}
.but{
    width: 80%;
    height: 12%;
    background-color: #47B5FF;
    color: #fff;
    border-radius: 10px;
    margin-top: 20px;
    margin-right: 10px;
}
.front{
  height: 100%;
  padding-top: 100px;
  margin-left: 150px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: normal;
  padding: 3%;
}
input:hover{
  border-color: #47B5FF;
}